@charset "utf-8";
/* CSS Document */

<style>
	h1 {color:black;
		background-color:antiquewhite;
		font-family: "Gill Sans", "Gill Sans MT", "Myriad Pro", "DejaVu Sans Condensed", Helvetica, Arial, "sans-serif"
	}</h1>
	links {
		font-family: "bubbler-one";
		color: darkcyan;
	}</links>
</style>